



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 992px) {
  .card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    /* height: 400px; */
    width: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
  }
  .card .fa-spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto
  }
}

@media (max-width: 576px){
  .card {
    margin-bottom: 23px;
    margin-left: 0;
  }
  .card-group>.card {
    margin-left: 30px;
}
.applyNow {
  top: 57%;
}
}